body {
	margin: 0 auto;
	text-align: center;
	font-family: Arial;
	width: 500px;
}

header h1 {
	margin-bottom: 0px;
	font-family: "Monotype Corsiva";
	font-size: xx-large;
}

header h1 span {
	position: absolute;
	color: #eeeeee;
}

header p {
	margin-top: 0px;
	color: grey;
}

header p a {
	color: grey;
}

section {
	margin: 10px;
	border: 2px outset black;
	border-radius: 10px;
	background-color: #dddddd;
}

section h2 {
	margin: 0px;
	padding: 0px 10px;
	text-align: left;
	font-size: medium;
	font-weight: normal;
	font-variant: small-caps;
	border-bottom: 1px solid grey;
	border-radius: 10px 10px 0px 0px;
}

section.zadani h2 {
	background: linear-gradient(to right, lime, transparent);
}

section.vyhodnoceni h2 {
	background: linear-gradient(to right, magenta, transparent);
}

section.informace h2 {
	background: linear-gradient(to right, cyan, transparent);
}

form {
	margin: 5px auto;
}

form textarea {
	width: 450px;
	min-width: 450px;
	max-width: 450px;
}

form button {
	font-size: large;
	background-color: blue;
	color: white;
	padding: 10px;
	margin: 10px;
}

form button div {
	font-size: x-small;
	color: #bbbbbb;
}

.uspech {
	color: green;
}

.varovani {
	color: orange;
}

.neuspech {
	color: red;
}

.nastaveni {
	text-align: left;
	padding: 5px;
}

.napoveda {
	text-align: left;
	padding: 0px 10px;
}